<header class="navbar-superior">
  <div class="nav-container">
    <div class="logo" onclick="window.scrollTo({top: 0, behavior: 'smooth'})" style="cursor: pointer;">
      <span class="logo-text">HUESOS DE MADERA</span>
    </div>

    <nav class="nav-links">
      <a routerLink="/inicio" 
         routerLinkActive="active-link" 
         class="nav-item">INICIO</a>

      <a routerLink="/manuales" 
         routerLinkActive="active-link" 
         class="nav-item">MANUALES</a>

      <a routerLink="/desafios" 
         routerLinkActive="active-link" 
         class="nav-item">DESAFÍOS</a>
         
         
      <a href="#" class="nav-item">GALERIA</a>
    </nav>

    <div class="nav-perfil">
      <button class="btn-perfil">MI PERFIL</button>
    </div>
  </div>
</header>