<header class="navbar-superior">
  <div class="nav-container">
    <div class="logo" onclick="window.scrollTo({top: 0, behavior: 'smooth'})" style="cursor: pointer;">
      <span class="logo-text">HUESOS DE MADERA</span>
    </div>

    <nav class="nav-links">
      <a routerLink="/inicio" 
         routerLinkActive="active-link" 
         class="nav-item">INICIO</a>

      <a routerLink="/manuales" 
         routerLinkActive="active-link" 
         class="nav-item">MANUALES</a>

      <a routerLink="/desafios" 
         routerLinkActive="active-link" 
         class="nav-item">DESAFÍOS</a>
         
       <a routerLink="/galeria" 
         routerLinkActive="active-link" 
         class="nav-item">GALERIA</a>
    </nav>

<ng-container *ngIf="user$ | async as currentUser; else guestMode">
      <button routerLink="/admin" class="btn-admin">⚙️ Admin</button>
      <button (click)="logout()" class="btn-logout">Salir</button>
    </ng-container>
    
    <ng-template #guestMode>
      <button routerLink="/login" class="btn-login">👤 Iniciar Sesión</button>
    </ng-template>

  </div>
</header>