<div class="admin-container">
  <h1>🛠️ Panel de Control - Huesos de Madera</h1>

  <section class="admin-section">
    <h2>📝 Retos Pendientes de Aprobación</h2>
    <div class="pendientes-grid">
      <div class="admin-card" *ngFor="let p of retosPendientes$ | async">
        <img [src]="p.imagenURL" alt="Propuesta">
        <div class="info">
          <h4>{{ p.reto }}</h4>
          <p>{{ p.descripcion }}</p>
        </div>
        <div class="acciones">
          <button class="btn-aprobar" (click)='aprobarReto(p.id)'>Aprobar</button>
          <button class="btn-borrar" (click)='rechazarReto(p.id)'>Eliminar</button>
        </div>
      </div>
    </div>
  </section>

  <section class="admin-section">
    <h2>🏫 Subir Fotos de Talleres/Escuelas</h2>
    <div class="admin-form">
      <input type="text" [(ngModel)]="nuevaFotoTaller.escuela" placeholder="Nombre de la Escuela">
      <input type="text" [(ngModel)]="nuevaFotoTaller.imagenURL" placeholder="Link de la imagen (Direct link)">
      <textarea [(ngModel)]="nuevaFotoTaller.comentario" placeholder="¿Qué pasó en este taller?"></textarea>
      <button class="btn-guardar" (click)="subirFotoTaller()">Subir a Galería Oficial</button>
    </div>
  </section>
</div>