.contenedor-principal {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 80px; /* Espacio grande entre el About y la Ruta */
  padding-bottom: 100px;
}

.divisor-madera {
  border: 0;
  height: 4px;
  background-color: #E8C39E;
  width: 60%;
  margin: 0 auto;
  border-radius: 10px;
  opacity: 0.5;
}

/* Hacemos que el About se vea un poco más compacto si está en el inicio */
app-about {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

/* Evita que el Navbar tape el inicio de la sección al bajar */
section {
  scroll-margin-top: 100px;
}