/* You can add global styles to this file, and also import other style files */
body {
  /* Añadimos un margen superior igual o mayor al alto del Navbar */
  padding-top: 85px; 
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}